{% extends "basic.html" %}

{% block body %}
<html>
<head>
<h1 style="text-align:center; color:#5347ff">E-Library</h2>

  <H2 style="text-align: center;">Welcome to Our Page</H2>
</head>




<hr>
<body><font size=5><font color="black">
<img src="https://scontent.fdac136-1.fna.fbcdn.net/v/t39.30808-6/275230300_1194734461062766_451693308284001983_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeERhafzze_tP5G6MgQJou9t-m05A35yoRD6bTkDfnKhEAzFKH2ZANlxHrz_zFJYBYnERXvTHjG2qPUwHyAWyCg0&_nc_ohc=2lZBdhhrtHAAX9D2Vnw&_nc_ht=scontent.fdac136-1.fna&oh=00_AT8aHYU7Tv141ZbljgJuuxWVXuuxrfJ06XDCJM4AJFyFuA&oe=6257254E" align="center"hspace="200" height=550 width=550 px>


<h2>Our Stall Address</h2>
    <p>Daffodil International University.
      Khagan,Birulia,Savar.
 </p>
 <p>Mobile :01786-661586</p>
<table style="width:95%"border=8>
  <h1 style="text-align:center">Top Sells</h2>
    
    <tr>
      <th scope="col">Story Books</th>
      <th scope="col">Science Fiction</th>
      <th scope="col">Historycal</th>
     
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1.Beloved_code=003</td>
      <td>1.Snow Crash_code=002</td>
      <td>1.The Guns of August_code=001</td>
     
    </tr>
    <tr>
      <td>2.Invisible Man_code=111</td>
      <td>2.A Winkle in Time_code=222</td>
      <td>2.1776_code=333</td>
     
    </tr>
    <tr>
      <td>3.A Passage to India_code=999</td>
      <td>3.Rosewater_code=888</td>
      <td>3.A History of American People._code=777</td>
    
    </tr>
    


</body>
</html>

{% endblock %}