
{% extends 'basic.html' %}

{% block body %}

<div class="container mt-5">
    <h3 class="text-center">!!Book Fairs!! Book Fairs!!  Book Fairs!!</h3>
    
   
</div>

<!-- Section-2 Work Experience -->
<div class="container mt-5">
    <div class="card">
      <div class="card-header">
        <h3>Books</h3>
      </div>
      <div class="card-body">
        <h5>E-Library</h5>
        <div><strong></strong></div>
       
      </div>

     
          <ol class="list-group list-group-numbered">
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Story</div>
                Gopalvar,Thakumarjhuli,Chilekothar,Sipai........n
              </div>
        
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Historycal Fiction</div>
                52'days,1776,History of American.........n
              </div>        
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Math Related books</div>
                Calculas,Algebric function,Trigonometry........n
              </div>
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Journal</div>
                NewYork times, Bangladesh Protidin,Daily Star.....n
              </div>
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Horror</div>
                King of the forest,The black,Wildman....n
              </div>
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Science Fiction</div>
                The Time Machine by H.G. Wells,Frankenstein by Mary Shelley,Hyperion by Dan Simmons.....n
              </div>
            </li>
          </ol>
        </div>
      </div>
    </div>          
</div>
<!-- Section-2 Work Experience -->

<!-- Section-3 Skills -->
<div class="container mt-5">
<div class="card">
  <div class="card-header">
    <h3>CSE Related Books</h3>
  </div> 
  <div class="card-body">
    <div class="row">
      <div class="col">
        <h5>Language</h5>
        <ul>
          <li>C</li>
          <li>Java</li>
          <li>Python</li>
        </ul>
      </div>
      <div class="col">
        <h5>Alogorithm</h5>
        <ul>
          <li>Supervised</li>
          <li>Unsupervised</li>
          <li>Data Visualization</li>
          <li>Performance Measure</li>            
        </ul>
      </div>
      <div class="col">
        <h5>Library</h5>
        <ul>
          <li>NumPy, Pandas, Seaborn</li>                      
          <li>Scikit-Learn</li>
          <li>Keras,Tensorflow</li>
          <li>PyTorch</li>
        </ul>
        
      </div>
      <div class="col">
        <h5>Frontend</h5>       
        <ul>
          <li>Html</li>
          <li>CSS</li>
          <li>Bootstrap</li>
          <li>Jinja2</li>            
        </ul>
      </div>
        <div class="col">
          <h5>Backend</h5>
          <ul>
            <li>Django</li>
            <li>Flask</li>
            <li>Django REST framework</li>
            <li>Django Graphene</li>            
          </ul>
        </div>
    </div>
    <div class="row">
      <div class="col">
        <h5>Database</h5>
        <ul>
          <li>SQLite</li>
          <li>MS SQL</li>
          <li>PostgreSQL</li>             
        </ul>
      </div>
      <div class="col">
        <h5>NLP</h5>       
        <ul>
          <li>TextBlob</li>
          <li>Nltk</li>
          <li>SpaCy</li>
          <li>GPT,GPT-2, BERT</li>            
        </ul>
      </div>
      <div class="col">
        <h5>Chatbot</h5>
        <ul>
          <li>RASA</li>
          <li>DialogFlow</li>
          <li>Chatterbot</li>                         
        </ul>
      </div>
      <div class="col">
        <h5>Platform</h5>       
        <ul>
          <li>Anaconda</li>
          <li>JupyterLab</li>
          <li>Google Colab</li>
          <li>VS Code</li>            
        </ul>
      </div>
      <div class="col">
        <h5>Version Controlling</h5>
        <ul>
          <li>Git</li>
          <li>Docker</li>             
        </ul>
      </div>
    </div>
    </div>                   
  </div>       
</div>      


{% endblock body %}



